@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    
 }

 .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 340px;
    height: 100%;
    background: rgb(99, 214, 205);
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    background: rgb(16, 149, 158);
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu{
    margin-top: 1rem;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
    padding-top: 1rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color:white;
    font-size: 1.2rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color:rgb(16, 149, 158);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span::first-line{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content{
    margin-left: 340px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 340px;
    width: calc(100% - 340px);
    top: 0;
    z-index: 100;
}

header h2{
    color: #222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.6rem;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;

}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color: grey; 
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.cards-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    
}

.cards-single div:last-child span {
    font-size: 3rem;
    color:rgb(16, 149, 158);
}

.cards-single div:first-child span {
    color: grey;
}